<div [@routerTransition]>
  <section class="content-header">
      <div class="col-6">
          <h1>{{ "Cidade" | localize}}</h1>
      </div>
      <div class="col-6 text-left">
          <button (click)="novo()" 
          class="btn btn-primary-sec btn-navigate" 
          type="submit" >
              <i class="fas fa-plus-square"></i>
              {{"Create" | localize}}
          </button>
      </div>
  </section>
  <div class="container-fluid">
      <div class="card">
          <div class="card-header">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                          <i class="fas fa-search"></i>
                      </button>
                  </div>
                  <input type="text" class="form-control" name="keyword"
                      [placeholder]="'SearchWithThreeDot' | localize" 
                      [(ngModel)]="keyword"
                      (keyup.enter)="getDataPage(1)">
                  <div class="input-group-append">
                      <button type="button" class="btn btn-default"
                      (click)="advancedFiltersVisible = !advancedFiltersVisible">
                          <i class="fas" [class]="advancedFiltersVisible? 'fa-angle-up' : 'fa-angle-down'" ></i>
                      </button>
                  </div>
              </div>
          </div>
          <div *ngIf="advancedFiltersVisible" 
              class="card mb-0 mt-1">
              <div class="card-body">
                  <form class="form-horizontal">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group row mb-0">
                                  <label class="col-md-3 col-form-label">
                                      {{ "IsActive" | localize }}
                                  </label>
                                  <div class="col-md-9 pt-2">
                                      <div class="custom-control custom-radio d-inline">
                                          <input type="radio" class="custom-control-input" id="isActiveAll"
                                              name="isActive" [(ngModel)]="status" [value]="undefined"
                                              checked />
                                          <label class="custom-control-label" for="isActiveAll">
                                              {{ "All" | localize }}
                                          </label>
                                      </div>
                                      <div class="custom-control custom-radio d-inline mx-3">
                                          <input type="radio" class="custom-control-input" id="isActiveActive"
                                              name="isActive" [(ngModel)]="status" [value]="1" />
                                          <label class="custom-control-label" for="isActiveActive">
                                              {{ "Yes" | localize }}
                                          </label>
                                      </div>
                                      <div class="custom-control custom-radio d-inline">
                                          <input type="radio" class="custom-control-input" id="isActivePassive"
                                              name="isActive" [(ngModel)]="status" [value]="0" />
                                          <label class="custom-control-label" for="isActivePassive">
                                              {{ "No" | localize }}
                                          </label>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="card-footer">
                  <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                      {{ "Search" | localize }}
                  </button>
                  <button type="button" class="btn btn-default float-right" (click)="clearFilters()">
                      {{ "Clear" | localize }}
                  </button>
              </div>
          </div>
          <div class="card-body table-responive table-sm p-0">
              <table class="table table-hover text-nowrap" [busy]="isTableLoading">
                  <thead class="bg-light">
                      <tr>
                          <th>{{ "Nome" | localize }}</th>
                          <th>{{ "Estado" | localize }}</th>
                          <th>{{ "Actions" | localize }}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr (dblclick)="editar(cid.id)"  *ngFor="
                          let cid of cidades
                          | paginate
                              : {
                                  id: 'server',
                                  itemsPerPage: pageSize,
                                  currentPage: pageNumber,
                                  totalItems: totalItems
                              }">
                          <td>{{ cid.nome}}</td>
                          <td>{{ cid.estado.nome }}</td>    
                          <td>
                              <button type="button" class="btn btn-sm" (click)="editar(cid.id)">
                                  <i class="fas fa-pencil-alt"></i>
                                  {{ "Edit" | localize }}
                              </button>
                              <button type="button" class="btn btn-sm mx-2" (click)="delete(cid)">
                                  <i class="fas fa-trash"></i>
                                  {{ "Delete" | localize }}
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="card-footer bg-light border-top">
              <div class="row">
                  <div class="col-sm-4 col-12 text-sm-left text-center">
                      <button class="btn btn-secondary" (click)="refresh()">
                          <i class="fas fa-redo-alt"></i>
                      </button>
                  </div>
                  <div class="col-sm-4 col-12 text-center">
                      <p class="mb-0 my-2">
                          {{"TotalRecordsCount" | localize: totalItems }}
                      </p>
                  </div>
                  <div class="col-sm-4 col-12">
                          <div class="float-sm-right m-auto">
                              <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                              </abp-pagination-controls>
                          </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
